#hero {
  text-align: center;
}

h1 {
  font-family: "Inter", "sans-serif";
}

body {
  font-family: "Open Sans", "sans-serif";
}

footer {
  border-top: 1px solid #eceff2;
  text-align: center;
  margin-top: 80px;
}

#baseboard-image {
  position: absolute;
  bottom: 0;
  right: 0;
}
